body
{
    font: lighter 1em Verdana,Geneva,sans-serif;
    background-color: #E7E7DE;

    margin-top: 80pt;
}

h1
{
    font-size: 2em;
    text-align: center;
    z-index: 1000;
}

h3
{
    font-size 2em;
    text-align: left;
}

p
{
    font-size: 0.65em;
    font-weight: lighter;

    padding: 10px 5px;
}

hr
{
    background-color: #FFFFFF;
    color: #FFFFFF;
    border-color: #FFFFFF;

    height: 2pt;
}


table
{
    border-collapse: collapse;
    empty-cells: show;

    width: 100%;
    margin: 0pt 0pt 0pt 0pt;
}

th,td
{
    color: #FFFFFF;
    text-align: center;
}


th
{
    font-size: 0.65em;
    border: 1pt solid #FFFFFF;

    padding: 5pt 2pt 5pt 2pt;
}

td
{
    font-size: 0.8em;
    border: 2pt solid #FADAA3;
    background-color: #73B1D6;
    
    padding: 7pt 2pt 7pt 2pt;
}

div.ttble
{
    background-color: #F3D89F;
    border: 3pt solid #FF9F55;
    border-radius: 15pt 0pt 0pt 15pt;

    padding: 10pt 0pt;
    margin: 20pt 0pt;
}

div.sidebar
{
    background-color: #FF9F55;
    color: #FFFFFF;
    border: 2pt solid #FFFFFF;
    border-radius: 5px 0px 0px 5px;
    visibility: hidden;

    position: fixed;
    top: 85pt;
    right: 0pt;
    height: 80%;
    width: 20%;
}

#header
{
    color: #FFFFFF;
    background-color: #008891;

    position: fixed;
    top: 0pt;
    left: 0pt;
    right: 0pt;
    margin: 0pt;
    padding: 20pt;
    max-height: 80pt;
}

.table-title
{
    color: #EFEFEF;
    background-color: #1BA39C;

    position: relative;
    right: 6pt;
    float: left;
    padding: 10pt 5pt 10pt 5pt;
    border: 2pt solid #0F3057;
    border-radius: 0pt 5pt 5pt 0pt;
    margin: 5pt 0pt 5pt 0pt;
}

.cell-label
{
    background-color: #EFEFEF;
    color: darkslategrey;
}


.cell-time
{
    background-color: #1D628B;
}

.cell-date
{
    background-color: #00587A;
}

.cell-revision
{
    background-color: #FF9F55;
}

.cell-test
{
    background-color: #D33257;
}

.side-title
{
    text-align: center;
}
